<div class="container">
  <div class="container__files">
    <div class="card">
      <p-toast></p-toast>
      <p-fileUpload
        name="demo[]"
        url="https://www.primefaces.org/cdn/api/upload.php"
        chooseLabel="Seleccionar archivo"
        uploadLabel="Subir archivo"
        cancelLabel="Cancelar"
        (onUpload)="onUpload($event)"
        [multiple]="true"
        accept=".csv"
      >
        <ng-template pTemplate="content">
          <p>
            Seleccione o arrastre el archivo aquí.
            <br />
            Luego, haga clic en el botón "Subir archivo" para cargarlo.
          </p>
          <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">{{ file.name }}</li>
          </ul>
        </ng-template>
      </p-fileUpload>
    </div>
  </div>
</div>
