.container__charts {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: center;

  &__left_charts {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

@media (max-width: 1100px) {
  .container__charts {
    flex-direction: column;
    width: 95%;

    &__left_charts {
      width: 100%;
    }

    &__stateWithHighestsVictims {
      width: 100%;
    }
  }

  .stateWithHighestsVictims {
    width: 100%;
  }
}


