.container__login-box{

    min-height: calc(100vh - 70px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    max-width: 90%; 
    text-align: center;
    padding: 25px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    background-color: #fff;
    margin: 20px auto;
}

@media (max-width: 767px) {
    .container__login-box{
        max-width: 400px; 
        text-align: center;
        padding: 25px 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
        
        margin: 20px 5px;

    }
}