<div class="container">
  <div class="container__login-box">
    <form class="form-box" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2>Login</h2>
      <span class="p-input-icon-left">
        <i class="pi pi-user"></i>
        <input type="text" formControlName="userName" pInputText />
      </span>

      <span class="p-input-icon-left">
        <i class="pi pi-lock"></i>
        <input type="password" formControlName="password" pInputText />
      </span>

      <button
        label="Log In"
        class="p-element p-button p-component b-enter"
        tabindex="0"
      >
        <span class="p-button-label">Entrar</span>
      </button>
    </form>
  </div>
</div>
